.main-div{
    margin-left: 3rem;
    margin-top: 3rem;
    width: 100%;
}
.add-form{
   margin-top: 3rem;
}

.form-input{
    width: 30%;
    margin-top:2rem;
}

#new-post{
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}
