<div class="navbar">
    <mat-toolbar>
        <span style="margin-left: 5rem;">MY APP</span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon>add_box</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>person</mat-icon>
        </button>
        <button style = "margin-right: 5rem;" mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>
    <mat-divider></mat-divider>
</div>


  