<!--html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="login.component.css">


    </head>
    <body>
        <div class = "hero">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="btn">Login</button>
                    <button type="button" class="btn"> <a href="./register.component.html">Register</a></button>


                </div>
                <form class="input-group">
                    <input type="text" class="input-field" placeholder="User ID" required>
                    <input type="text" class="input-field" placeholder="Enter Password" required>
                    <input type="checkbox" class="check-box"> <span>Remember Password</span>
                    <button type="submit" class="submit-btn">Log in</button>
                </form>

            </div>
        </div>
    </body>
</html>
  -->
<html>
  <body>
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <input name="userId" [(ngModel)]="userId"
                  matInput placeholder="userId" required
                  type="userId"

                  />

                </mat-form-field>
              </td>
            </tr>
            <tr> <td>
              <mat-form-field>
                <input name="password" [(ngModel)]="password"
                matInput placeholder="password" required
                type="password"/>
              </mat-form-field>
            </td></tr>
          </table>

      </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button mat-raised-button color="primary"
        (click)="login()">Login</button>
      </mat-card-actions>
    </mat-card>
  </body>
</html>
