<!--<html>
    <head>
        <title>Registration Page</title>
        <link rel="stylesheet" href="register.component.css">

    </head>
    <body>
        <div class = "hero">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="btn"><a href="./login.html">LogIn</a></button>
                    <button type="button" class="btn">Register</button>


                </div>
                <form id="register" class="input-group">
                    <input type="text" class="input-field" placeholder="User ID" required>
                    <input type="email" class="input-field" placeholder="Email id" required>
                    <input type="text" class="input-field" placeholder="Enter password" required>
                    <input type="checkbox" class="check-box"> <span>I agree to the terms & conditions</span>
                    <button type="submit" class="submit-btn">Register</button>
                </form>

            </div>
        </div>
    </body>
</html>
  -->



  <html>
  <body>
    <!--<mat-card class="register-card"> -->
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="userForm" >
          <table cellspacing="0" >
            <tr>
              <td>
                <mat-form-field>
                  <input name="username" formControlName="username"
                  matInput placeholder="username" required
                  />

                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
              <mat-form-field>
                <input name="password" formControlName="password"
                matInput placeholder="password" required
                type="password"/>
              </mat-form-field>
            </td></tr>
          </table>

      </form>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button mat-raised-button color="primary"
        (click)="register()">Register</button>
        <span> Already have an account<a routerLink="../login">login</a>  here</span>
      </mat-card-actions>

  </body>
</html>
